# Airflow configuration and sensitive files
airflow.cfg
unittests.cfg
airflow_login.py
dbinit.py
initdb.py
secrets.py

# Airflow SQLite databases
airflow.db
unittests.db

# Airflow temporary artifacts and logs
/logs/
airflow-webserver.pid
airflow/git_version
airflow/www/static/coverage/
airflow/www/static/dist

# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual environment
.venv/
env/
venv/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage*.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Airflow data
data/*
pgdata/*
models/*
reports/*